* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: black;
}

.gif {
    width: 200px;
    margin: 20px auto;
    display: block;
}

main {
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto 100px;
    padding: 44px 24px 23px;
    box-shadow: 0 0 20px 2px #4e4a4a;
}

label {
    color: #777;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}

select,
input {
    border-radius: 20px;
    border: 1px solid #BBB;
    background: #FFF;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
    box-shadow: -3px 3px 10px 2px #a39d9d;
}

button {
    border-radius: 20px;
    background: #4755F5;
    width: 100%;
    padding: 15px;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: -3px 3px 10px 2px #a39d9d;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #4755F5;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -3px 3px 10px 2px #a39d9d;
}

.arrow-img {
    margin: 15px 0;
    width: 50px;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency-value, .currency-value-to-convert {
    color: #555;
    font-size: 20px;
    font-weight: 700;
}

.currency {
    color: #777;
    font-size: 14px;
    font-weight: 400;
}

